<style lang="scss">
  .opendatastudio-branding {
    display: flex;
    align-items: center;
    margin: 1em 0;

    img {
      height: 4em;
    }

    .title-branding {
      margin: 0;
      font-family: "Inter";
      font-variant: discretionary-ligatures;
      font-variation-settings:
        "opsz" 32,
        "wght" 350;
      font-size: 3em;
      color: var(--brand-blue);

      strong {
        font-variation-settings:
          "opsz" 32,
          "wght" 580;
      }
    }
  }
</style>

<div class="opendatastudio-branding">
  <img
    class="opendatastudio-logo"
    src="/assets/images/logos/opendatastudio.svg"
  />
  <h1 class="title-branding">
    open<strong>data.studio</strong>
  </h1>
</div>
