---
/**
 * * Hero with image one the side
 */

import heroImage from "@images/mockups/bindfit.png";
import { Image } from "astro:assets";

import Button from "@/components/button/Button.astro";
import { getLocaleFromUrl } from "@/js/localeUtils";
const currLocale = getLocaleFromUrl(Astro.url);
---

<!-- "dark" class forces dark mode for this section -->
<section id="hero-side" class="mt-14 overflow-x-clip">
	<div class="site-container py-16 md:py-20">
		<div
			class="mx-auto grid max-w-md gap-10 text-center md:max-w-none md:grid-cols-2 md:text-left xl:items-center"
		>
			<div class="mx-auto my-auto w-full pt-4 md:ml-0 md:max-w-[560px] md:py-10 lg:pr-10">
				<div class="" data-aos="fade-up" data-aos-trigger="#hero-side">
					<h1
						class="mb-6 text-5xl leading-tight font-medium tracking-tight text-pretty md:text-6xl md:leading-tight"
					>
            Drive impact with trusted data
					</h1>
				</div>
				<p
					class="description mb-8 text-pretty lg:text-lg"
					data-aos="fade-up"
					data-aos-delay=".1"
					data-aos-trigger="#hero-side"
				>
					opendata.studio specialises in building interactive data visualisations and data analysis applications tailored for publication and public engagement.
				</p>
				<p
					class="description mb-8 text-pretty lg:text-lg"
					data-aos="fade-up"
					data-aos-delay=".1"
					data-aos-trigger="#hero-side"
				>
					We keep your data connected to its outputs, making them verifiable and increasing trust in your insights.
				</p>
				<p
					class="description mb-8 text-pretty lg:text-lg"
					data-aos="fade-up"
					data-aos-delay=".1"
					data-aos-trigger="#hero-side"
				>
					We bring over 20 years of combined experience working with research data workflows to your project.
				</p>
				<p
					class="description mb-8 text-pretty lg:text-lg"
					data-aos="fade-up"
					data-aos-delay=".1"
					data-aos-trigger="#hero-side"
				>
					Let us help you transform your data into impact.
				</p>
				<div
					class="mt-6 flex flex-wrap justify-center gap-4 md:justify-start"
					data-aos="fade-up"
					data-aos-delay=".2"
					data-aos-trigger="#hero-side"
				>
					<Button variant="primary" href={"https://calendly.com/opendatastudio/15-minute-chat"} target="_blank">
						Book a conversation
					</Button>
					<!--
					<Button
						variant="ghost"
						arrow="right"
						href="https://docs.opendata.studio/"
						target="_blank"
						rel="noopener noreferrer"
					>
						Technical documentation
					</Button>
					-->
				</div>
			</div>

			<div
				class="flex h-full w-full flex-grow items-center"
				data-aos="fade-in"
				data-aos-trigger="#hero-side"
				data-aos-delay=".5"
			>
				<div class="relative h-full overflow-hidden">
					<Image
						src={heroImage}
						class="min-h-full w-auto object-cover"
						alt="hero"
						loading="eager"
						width={700}
						densities={[1.5, 2]}
					/>
				</div>
			</div>
		</div>
	</div>
</section>
