<footer class="site-footer">
  <div class="primary">
    <p class="attributions">
      Part of the <a href="https://imagingtools.org.au/">Australian Characterisation Commons at Scale</a>
      funded by ARDC and NCRIS. 
    </p>
    <div class="logos">
      <img class="ardc-logo" src="assets/images/logos/ardc.svg" />
      <img class="ncris-logo" src="assets/images/logos/ncris.png" />
    </div>
  </div>
  <div class="secondary">
    {% include mailchimp-signup.html %}
   </div>
</footer>

<div class="site-footer-background">
</div>
