<header class="header">
  <div class="branding">
    <a href="/">
      <div class="brand">
        <h1>
          <img src="assets/images/logo.svg"/>
          <span class="brand-text">opendata.fit</span>
        </h1>
      </div>
    </a>
  </div>
  <div class="byline">
    <p>
      Enabling reproducible science, from data collection to publication.
    </p>
    <p class="attributions">
      Part of the <a href="https://imagingtools.org.au/">Australian Characterisation Commons at Scale</a> project
      funded by the ARDC. Supported by UNSW.
    </span>
  </div>
</header>
