<header class="site-header">
  <div class="branding">
    <div class="brand">
      <a href="/">
        <h1>
          <img class="opendatafit-logo" src="assets/images/logos/opendatafit.svg"/>
          <span class="brand-text">opendata.fit</span>
        </h1>
      </a>
      <p class="byline">
        Enabling reproducible science, from data collection to publication.
      </p>
    </div>
  </div>
  <div class="secondary">
    <p>
      Supported by:
    </p>
    <img class="unsw-logo" src="/assets/images/logos/unsw.svg" />
  </div>
</header>

<div class="site-header-background">
</div>
