@font-face {
  font-family: Cerebri Sans;
  font-weight: 700;
  src: 
    url("/assets/fonts/cerebri/CerebriSans-Bold.ttf") format('truetype'),
    url("/assets/fonts/cerebri/CerebriSans-Bold.eot") format('embedded-opentype'),
    url("/assets/fonts/cerebri/CerebriSans-Bold.woff") format('woff'),
    url("/assets/fonts/cerebri/CerebriSans-Bold.svg") format('svg');
}

@font-face {
  font-family: Cerebri Sans;
  font-weight: 600;
  src: 
    url("/assets/fonts/cerebri/CerebriSans-SemiBold.ttf") format('truetype'),
    url("/assets/fonts/cerebri/CerebriSans-SemiBold.eot") format('embedded-opentype'),
    url("/assets/fonts/cerebri/CerebriSans-SemiBold.woff") format('woff'),
    url("/assets/fonts/cerebri/CerebriSans-SemiBold.svg") format('svg');
}

@font-face {
  font-family: Cerebri Sans;
  font-weight: 400;
  src: 
    url("/assets/fonts/cerebri/CerebriSans-Regular.ttf") format('truetype'),
    url("/assets/fonts/cerebri/CerebriSans-Regular.eot") format('embedded-opentype'),
    url("/assets/fonts/cerebri/CerebriSans-Regular.woff") format('woff'),
    url("/assets/fonts/cerebri/CerebriSans-Regular.svg") format('svg');
}

@font-face {
  font-family: Averta;
  font-weight: 700;
  src: 
    url("/assets/fonts/averta/Averta-Bold.ttf") format('truetype'),
    url("/assets/fonts/averta/Averta-Bold.eot") format('embedded-opentype'),
    url("/assets/fonts/averta/Averta-Bold.woff") format('woff'),
}

@font-face {
  font-family: Averta;
  font-weight: 400;
  src: 
    url("/assets/fonts/averta/Averta-Regular.ttf") format('truetype'),
    url("/assets/fonts/averta/Averta-Regular.eot") format('embedded-opentype'),
    url("/assets/fonts/averta/Averta-Regular.woff") format('woff'),
}

@font-face {
  font-family: Libre Franklin;
  font-weight: 400;
  src: 
    url("/assets/fonts/libre_franklin/LibreFranklin-Regular.ttf") format('truetype'),
}

body {
  margin: 0;
  padding: 0;

  font-family: "Libre Franklin";
  font-weight: 400;
  font-size: 1.2em;

  h1 {
    // font-family: "Cerebri Sans";
    font-family: "Averta";
    font-weight: 700;
    font-size: 1.8em;

    color: #212d49;
  }
}

header.header {
  margin: 0;
  padding: 0;
  padding-top: 3em;
  padding-bottom: 1em;
  padding-left: 10em;

  background-color: whitesmoke;

  border-bottom: 1px solid black;

  .aside {
    // float: right;
  }

  .branding {
    a {
      text-decoration: none;

      .brand {
        h1 {
          margin: 0;

          img {
            height: 2em;
            width: 2em;
            aspect-ratio: auto 50 / 50;
          }

          .brand-text {
            vertical-align: top;
            font-size: 1.5em;
            // font-family: "Cerebri Sans";
            font-family: "Averta";
            font-weight: 700;
            color: #212d49;
          }
        }
      }
    }
  }
}

section.banner {
  // background-color: whitesmoke;
}

section.content-left {
  padding-left: 10em;
  padding-right: 0;
  background-color: whitesmoke;
}

section.content-right {
  padding-right: 10em;
  padding-left: 0;
  background-color: white;
}

section {
  box-sizing: border-box;

  width: 100%;
  min-height: 80vh;

  display: flex;
  .content {
    flex: 1;
  }

  figure {
    flex: 3;
    div {
      height: 100%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
