@charset "UTF-8";

@use "common-styles/config/_font";
@use "common-styles/config/_colour";

@use "common-styles/mixins/_boxmodel";
@use "common-styles/mixins/_include-media";

@import "common-styles/_fonts";
@import "common-styles/_elements";


@import "_elements";

@import "layouts/_home";
@import "layouts/_site";

@import "includes/_header";
@import "includes/_footer";

@import "pages/_index";


$accent-color: #DA5649;
$brand-color: #212d49;
$link-color: #628395;

body#opendatafit {
  margin: 0;
  padding: 0;

  // TODO just why
  font-family: font.$typeface !important;
  font-weight: 200 !important;
  font-size: 18px;

  a:link, a:visited {
    color: $link-color;
    text-decoration: none;
  }

  a:hover {
    color: colour.$accent;
    text-decoration: underline;
  }

  #opendatafit-signup-form {
    #mc_embed_signup {
      padding-top: 1px;
    }
  }

  .brand {
    a:hover {
      text-decoration: none;
    }
  }

  .jsoneditor {
    border-color: $link-color;
  }

  #mc_embed_signup {
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .brandingLogo {
    img {
      display: none;
    }
  }
}


.tiles {
  .diagram-container, .description-container, .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
  }

  img.diagram {
    width: 65%;
  }

  .description-container {
    text-align: center;
  }

  p.description {
    margin: 0;
    margin-bottom: 1em;
    color: $brand-color;
    font-family: font.$typeface-branding;
  }

}


section {
  box-sizing: border-box;

  width: 100%;
  padding: 3em 0;
  gap: 5ch;
  //min-height: 80vh;

  display: flex;
  .content {
    flex: 1;
  }

  figure, .diagram {
    flex: 3;
    div {
      height: 100%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  h1 {
    line-height: 1;
  }
}
