---
import { Image } from "astro:assets";

import { getLocaleFromUrl } from "@/js/localeUtils";

import { getTranslatedData } from "@/js/translationUtils";

import logo_light from "@images/logos/logo_light.svg";
import logo_dark from "@images/logos/logo_dark.svg";

const currLocale = getLocaleFromUrl(Astro.url);
const siteData = getTranslatedData("siteData", currLocale);
---

<a
	class="primary-focus text-foreground flex items-center text-xl"
	href={"/"}
>
	<Image
		src={logo_light}
		alt=""
		width={40}
	/>
	<p class="">{siteData.name}</p>
</a>