---
import { Image } from "astro:assets";

import { getLocaleFromUrl } from "@/js/localeUtils";

import { getTranslatedData } from "@/js/translationUtils";

import logo_light from "@images/logos/logo_light.svg";
import logo_dark from "@images/logos/logo_dark.png";

const currLocale = getLocaleFromUrl(Astro.url);
const siteData = getTranslatedData("siteData", currLocale);
---

<style>
:root.dark .logo.light {
  display: none;
}

:root:not(.dark) .logo.dark {
  display: none;
}
</style>

<a
	class="primary-focus text-foreground flex items-center text-xl"
	href={"/"}
>
	<Image
    class="logo light"
		src={logo_light}
		alt=""
		width={40}
	/>
	<Image
    class="logo dark"
		src={logo_dark}
		alt=""
		width={40}
	/>
	<p class="">{siteData.name}</p>
</a>
