---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import InlineBrand from "../components/branding/InlineBrand.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

var title = `${SITE_TITLE}`;
---

<style lang="scss">
  @use "../styles/mixins/breakpoints";

  .fa-solid {
    color: #212d49;
  }

  .layout-container {
    main {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      section.introduction {
        min-height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        container-type: inline-size;

        .intro-box {
          max-width: 80ch;
        }

        .link-tiles {
          display: grid;
          max-width: 550px;
          margin-top: 2em;
          grid-template-columns: repeat(2, minmax(0, 1fr));

          @container (max-width: 1120px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
          }

          column-gap: 2ch;
          row-gap: 2.25em;

          h2 {
            font-weight: normal;
            font-size: 1.25em;
            font-variation-settings:
              "opsz" 14,
              "wght" 375;
          }

          p {
            margin-bottom: 0;
          }

          a {
            color: black;
            text-decoration: none;
            background-color: white;
            border: 1px solid #ddd;
            padding: 0.5em 2ch;
            border-radius: 0.4em;
            height: 100%;

            &:hover {
              color: firebrick;
              border: 1px solid firebrick;
              .fa-solid,
              strong {
                color: firebrick;
              }
            }
          }

          @container (max-width: 600px) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
            row-gap: 1em;
            h2 {
              font-size: 1.25em;
            }
            a {
              padding: 0 1ch;
            }
            p {
              margin-bottom: 1.25em;
            }
          }
        }
      }
    }

    .opendatastudio-branding {
      display: flex;
      align-items: center;
      margin: 1em 0;

      img {
        height: 4em;
      }

      .title-branding {
        margin: 0;
        font-family: "Inter";
        font-variant: discretionary-ligatures;
        font-variation-settings:
          "opsz" 32,
          "wght" 350;
        font-size: 3em;
        color: #212d49;

        .title-branding-bold {
          font-variation-settings:
            "opsz" 32,
            "wght" 580;
        }
      }
    }

    .title-byline {
      font-family: "Inter";
      font-variation-settings:
        "opsz" 14,
        "wght" 500;
      font-size: 1.5em;
      display: block;
    }

    @media (max-width: 445px) {
      .opendatastudio-branding {
        font-size: 0.8em;
        margin: 0;
        margin-bottom: 1em;
      }

      .title-byline {
        font-size: 1.25em;
      }
    }
  }
</style>

<html lang="en">
  <head>
    <BaseHead title={title} description={SITE_DESCRIPTION} />
    <link href="/assets/fonts/FontAwesome/css/all.css" rel="stylesheet" />
  </head>

  <body class="opendatastudio">
    <div class="layout-container">
      <!--
      <div class="site-header-background"></div>
      <div class="site-header">
        <Header title={SITE_TITLE} />
        </div>
      -->

      <main>
        <section class="introduction">
          <div class="opendatastudio-branding">
            <img
              class="opendatastudio-logo"
              src="/assets/images/logos/opendatastudio.svg"
            />
            <h1 class="title-branding">
              open<span class="title-branding-bold">data.studio</span>
            </h1>
          </div>
          <span class="title-byline">
            Reproducible data publication for the web
          </span>

          <div class="intro-box">
            <p>
              <InlineBrand /> is a software toolbox that makes publishing reproducible
              workflows simple.
            </p>
            <p>
              We provide an open-source standard that captures the entire data
              workflow—from analysis to visualisation—in a fully reproducible
              datakit, built on the <a href="https://frictionlessdata.io"
                >Frictionless Data</a
              > specification.
            </p>
            <p>
              Datakits can be published as interactive web applications, or
              embedded as individual components in other web pages, making it
              simple to share data while maintaining reproducibility and
              provenance.
            </p>
          </div>

          <div class="link-tiles">
            <a href="https://docs.opendata.studio/intro/intro/">
              <h2><i class="fa-solid fa-book"></i> Documentation&nbsp;→</h2>
              <p>Get started with datakits</p>
            </a>
            <a href="/team">
              <h2><i class="fa-solid fa-people-group"></i> Team&nbsp;→</h2>
              <p>Meet the <InlineBrand /> team</p>
            </a>
          </div>
        </section>
      </main>

      <!--
      <div class="site-footer-background"></div>
      <div class="site-footer">
        <Footer />
      </div>
      -->
    </div>
    <script
      src="https://kit.fontawesome.com/d5670506c3.js"
      crossorigin="anonymous"></script>
  </body>
</html>
