---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import InlineBrand from "../components/branding/InlineBrand.astro";
import Brand from "../components/branding/Brand.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

var title = `${SITE_TITLE}`;
---

<style lang="scss">
  @use "../styles/mixins/breakpoints";

  .fa-solid {
    color: #212d49;
  }

  .layout-container {
    main {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      section.introduction {
        min-height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        container-type: inline-size;

        .intro-box {
          max-width: 80ch;
        }

        .link-tiles {
          display: grid;
          max-width: 550px;
          margin-top: 2em;
          grid-template-columns: repeat(2, minmax(0, 1fr));

          @container (max-width: 1120px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
          }

          column-gap: 2ch;
          row-gap: 2.25em;

          h2 {
            font-weight: normal;
            font-size: 1.25em;
            font-variation-settings:
              "opsz" 14,
              "wght" 375;
          }

          p {
            margin-bottom: 0;
          }

          a {
            color: black;
            text-decoration: none;
            background-color: white;
            border: 1px solid #ddd;
            padding: 0.5em 2ch;
            border-radius: 0.4em;
            height: 100%;

            &:hover {
              color: firebrick;
              border: 1px solid firebrick;
              .fa-solid,
              strong {
                color: firebrick;
              }
            }
          }

          @container (max-width: 600px) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
            row-gap: 1em;
            h2 {
              font-size: 1.25em;
            }
            a {
              padding: 0 1ch;
            }
            p {
              margin-bottom: 1.25em;
            }
          }
        }
      }
    }

    .title-byline {
      font-family: "Inter";
      font-variation-settings:
        "opsz" 14,
        "wght" 500;
      font-size: 1.5em;
      display: block;
    }

    @media (max-width: 445px) {
      .datastudio-branding {
        font-size: 0.8em;
        margin: 0;
        margin-bottom: 1em;
      }

      .title-byline {
        font-size: 1.25em;
      }
    }

    .intro-text {
      font-size: 1.25em;
    }

    .feature-list-title {
      color: var(--brand-blue);
      font-weight: bold;
      margin-top: 1em;
    }

    .feature-list-content {
      margin-top: 0.3em;
      margin-left: 0;
    }

    .orange-accent {
      color: #ed5344;
    }

    .feature-list {
      margin-left: 2ch;
      width: 50ch;
    }
  }
</style>

<html lang="en">
  <head>
    <BaseHead title={title} description={SITE_DESCRIPTION} />
    <link href="/assets/fonts/FontAwesome/css/all.css" rel="stylesheet" />
  </head>

  <body class="datastudio">
    <div class="layout-container">
      <!--
      <div class="site-header-background"></div>
      <div class="site-header">
        <Header title={SITE_TITLE} />
        </div>
      -->

      <main>
        <section class="introduction">
          <Brand />
          <span class="title-byline"
            >Build confidence in your data workflows</span
          >

          <div class="intro-box">
            <p class="intro-text">
              <InlineBrand /> is a web application for collaborative, verifiable
              data analysis. It gives teams the tools to build trusted, reusable
              and extendable data workflows.
            </p>
            <dl class="feature-list">
              <dt class="feature-list-title">
                <i class="fa-solid fa-circle-check"></i>&nbsp;&nbsp; End-to-end
                verification
              </dt>
              <dd class="feature-list-content">
                Complete data analysis history is captured automatically.
                Analyses are instantly reproducible and verifiable, even when
                shared.
              </dd>
              <dt class="feature-list-title">
                <i class="fa-solid fa-share-nodes"></i>&nbsp;&nbsp; Easy
                collaboration
              </dt>
              <dd class="feature-list-content">
                Browser-based interface allows for easy collaboration and
                sharing of data analysis internally and externally.
              </dd>
              <dt class="feature-list-title">
                <i class="fa-solid fa-universal-access"></i>&nbsp;&nbsp;
                User-friendly
              </dt>
              <dd class="feature-list-content">
                Easy to install and use with no complex installation or coding
                knowledge required, improving user productivity.
              </dd>
              <dt class="feature-list-title">
                <i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp; Data
                sovereignty
              </dt>
              <dd class="feature-list-content">
                All processing occurs in the browser or on a cloud provider of
                your choice, leveraging your existing storage solutions.
                DataStudio never has access to your data.
              </dd>
            </dl>
          </div>

          <div class="link-tiles">
            <a href="https://docs.datastudioapp.com/intro/intro/">
              <h2><i class="fa-solid fa-book"></i> Documentation&nbsp;→</h2>
              <p>Get started with DataStudio CLI</p>
            </a>
            <a href="/team">
              <h2><i class="fa-solid fa-people-group"></i> Team&nbsp;→</h2>
              <p>Meet the <InlineBrand /> team</p>
            </a>
          </div>
        </section>
      </main>

      <!--
      <div class="site-footer-background"></div>
      <div class="site-footer">
        <Footer />
      </div>
      -->
    </div>
    <script
      src="https://kit.fontawesome.com/d5670506c3.js"
      crossorigin="anonymous"></script>
  </body>
</html>
