---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import InlineBrand from "../components/branding/InlineBrand.astro";
import Brand from "../components/branding/Brand.astro";

var title = `Team | ${SITE_TITLE}`;
---

<style lang="scss">
  main {
    max-width: 80ch;
    width: 100%;
    /* container-type: inline-size; */
    /* margin: 0 auto; */

    h1 {
      text-align: center;
      font-variation-settings:
        "opsz" 32,
        "wght" 500;
    }

    h2 {
      font-variation-settings:
        "opsz" 32,
        "wght" 500;
    }

    section.bios {
      display: grid;
      grid-template-columns: 20ch auto;
      grid-auto-rows: auto auto 4em;
      column-gap: 4ch;

      img {
        width: 100%;
        border-radius: 50%;
      }

      @media (max-width: 600px) {
        grid-template-columns: auto;
        grid-auto-rows: auto;
        img {
          width: 40vw;
          margin: 0 auto;
          min-width: 225px;
        }

        .bio-copy {
          .project-role {
            display: none;
          }
        }

        h2 {
          text-align: center;
        }
      }
    }
    .project-role {
      font-variation-settings:
        "opsz" 14,
        "wght" 500;
    }
  }

  .site-header {
    max-width: 80ch;
    width: 100%;
    a.home {
      text-decoration: none;
    }

    hr {
      border: none;
      width: calc(100% - 4ch);
      border-bottom: 1px solid gray;
    }
  }
</style>

<html lang="en">
  <head>
    <BaseHead title={title} description={SITE_DESCRIPTION} />
    <link href="/assets/fonts/FontAwesome/css/all.css" rel="stylesheet" />
  </head>
  <body class="opendatakit">
    <div class="layout-container">
      <!-- <div class="site-header-background"></div> -->
      <div class="site-header">
        <a class="home" href="/">
          <Brand />
        </a>
        <hr />
      </div>

      <main>
        <h1>Meet the team</h1>

        <section class="bios">
          <div></div>
          <h2>Professor Pall Thordarson</h2>
          <img src="/assets/images/headshots/palli_headshot.jpg" />

          <div class="bio-copy">
            <span class="project-role">Project Principal</span>
            <p>
              Pall is the director of the UNSW RNA Institute and a Professor at
              the School of Chemistry, UNSW Sydney. His research interests range
              from nanomedicine and light-harvesting materials to supramolecular
              and systems chemistry.
            </p>
            <p>
              Pall is the progenitor of the <InlineBrand /> project, starting from
              its original incarnation as <a href="http://supramolecular.org/"
                >supramolecular.org</a
              >. Pall is passionate about facilitating tooling for open science
              and encouraging reproducibility in data analysis.
            </p>
            <a href="https://www.unsw.edu.au/staff/pall-thordarson">
              UNSW profile</a
            >
          </div>

          <!-- bottom gutter -->
          <div></div>
          <div></div>

          <!-- -->
          <div></div>
          <h2>Varvara Efremova</h2>
          <img src="/assets/images/headshots/varvara_headshot.jpg" />

          <div class="bio-copy">
            <span class="project-role">Software Architect</span>
            <p>
              Varvara is a solutions architect and implementation specialist for
              the <InlineBrand /> project with a background in astrophysics. She
              is responsible for architecting and implementing the backend services
              underpinning the project's ecosystem as well as frontend implementation
              details.
            </p>
            <p>
              In her various roles she has worked extensively across the web
              application architecture landscape and with the Python scientific
              stack. She prioritises designing user-focused, modular,
              maintainable and well-documented applications, as well as
              establishing good coding practices to ensure project
              sustainability.
            </p>
            <a href="https://echus.co/">Personal website</a>
          </div>

          <div></div>
          <div></div>

          <div></div>
          <h2>James Wilmot</h2>
          <img src="/assets/images/headshots/james_headshot.jpg" />

          <div class="bio-copy">
            <span class="project-role">Software Architect</span>
            <p>
              James is a solutions architect for the <InlineBrand /> project. He
              specialises in data specification design and is a passionate advocate
              for FAIR data management principles. He has extensive experience in
              web application architecture and frontend design.
            </p>
            <p>
              James loves to run and has ridden a touring bicycle across both
              islands of New Zealand on multiple occasions.
            </p>
            <a href="https://github.com/JamesWilmot/resume">Resume</a>
          </div>

          <div></div>
          <div></div>

          <div></div>
          <h2>Thomas Wilmot</h2>
          <img src="/assets/images/headshots/thomas_headshot.jpg" />

          <div class="bio-copy">
            <span class="project-role">Cloud Infrastructure Specialist</span>
            <p>
              Thomas is the cloud infrastructure specialist for <InlineBrand />.
              He has extensive experience with AWS and Google Cloud
              infrastructure deployments and holds certifications in both. He
              specialises in Infrastructure as Code deployments with Terraform,
              ensuring reproducible and resilient deployments.
            </p>
            <a href="https://www.linkedin.com/in/thomas-wilmot/">LinkedIn</a>
          </div>
        </section>
      </main>

      <!--
      <div class="site-footer-background"></div>
      <div class="site-footer">
        <Footer />
        </div>
      -->
    </div>
  </body>
</html>
