header.site-header {
  margin: 0;
  padding: 0;

  display: flex;

  .byline {
    margin: 0;
    font-family: font.$typeface-branding;
  }

  .secondary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    p {
      margin: 0;
      margin-bottom: 0.5em;
      font-size: 0.95em;
      font-family: font.$typeface-branding;
    }

    img.unsw-logo {
      height: 5rem;
    }
  }

  .branding {
    flex: 1;
    display: flex;
    align-items: center;
    .brand {
      padding-bottom: 0.5em; // TODO not a fan

      h1 {
        margin: 0;

        img {
          margin-left: -6px;
          height: 2em;
          width: 2em;
          aspect-ratio: auto 50 / 50;
        }

        .brand-text {
          vertical-align: top;
          font-size: 1.5em;
          font-family: font.$typeface-branding;
          font-weight: 700;
          color: #212d49;
        }
      }
    }
    a {
      text-decoration: none;

    }
  }
}

.site-header-background {
  z-index: -9999;
  background-color: whitesmoke;
  border-bottom: 1px solid #ddd;
}
