---
const today = new Date();
---

<style lang="scss">
  @use "@opendatafit/common-styles/common-styles/variables/fonts";
  @use "@opendatafit/common-styles/common-styles/mixins/lists";

  strong {
    font-variation-settings: "opsz" 14,"wght" 550;
  }

  footer.site-footer {
    container-type: inline-size;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .footer-base {
      margin-top: 1rem;
      display: flex;

      .website-attribution {
        margin-left: auto;
      }

      @container (max-width: 600px) {
        display: block;
        text-align: center;
        .website-attribution {
          margin: 1em 0;
          display: block;
        }
      }
    }

    .project-attribution {
      margin: 2em 0;
      text-align: center;
    }
    .site-source i {
      margin-right: 3px;
    }
    small.website-attribution,
    .site-source a {
      @include fonts.monospace;
      font-family: var(--monospace-font);
      font-weight: 400;
    }


    .supporters {
      @include lists.reset;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      gap: 3ch;
      margin: 0 auto;
      height: 5em;
      width: auto;
      margin-top: 1em;
      margin-bottom: 2em;
      li {
        flex: 0 0 auto;
        min-width: 0;
      }
      a {
        display: block;
        height: 100%;
        min-width: 0;
      }

      img {
        min-width: 0;
        height: 100%;
        &.unsw-logo {
          height: 80%;
        }
        &.ardc-logo {
          height: 75%;
        }
      }
    }
  }
</style>

<footer class="site-footer">
  <div class="project-attribution">
    <div class="supporters-container">
    <strong>Proudly supported by</strong>
      <ul class="supporters">
        <li>
          <a href="https://www.rna.unsw.edu.au">
            <img class="rnai-logo" src="assets/images/logos/unsw-rnai.png" />
          </a>
        </li>
        <li>
          <a href="https://www.unsw.edu.au">
            <img class="unsw-logo" src="assets/images/logos/unsw.svg" />
          </a>
        </li>
        <li>
          <a href="https://ardc.edu.au/">
            <img class="ardc-logo" src="assets/images/logos/ardc.svg" />
          </a>
        </li>
        <li>
          <a href="https://ardc.edu.au/">
            <img class="ncris-logo" src="assets/images/logos/ncris.png" />
          </a>
        </li>
      </ul>
    </div>
    <p>
      Part of the <a href="https://imagingtools.org.au/"
        >Australian Characterisation Commons at Scale</a
      > funded by ARDC and NCRIS.
    </p>
  </div>
  <div class="footer-base">
    <span class="site-source">
      <i class="fab fa-github"></i>
      <a href="https://github.com/opendatafit/opendata.fit"
        >opendatafit/opendata.fit</a
      >
    </span>

    <small class="website-attribution">
      > site design: <a href="https://github.com/echus">@echus</a>, <a
        href="https://github.com/JamesWilmot">@jameswilmot</a
      >
    </small>
  </div>
</footer>
