---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---
<style lang="scss">
  @use "@opendatafit/common-styles/common-styles/mixins/display";
  @use "@opendatafit/common-styles/common-styles/variables/fonts";

  header {
    // color: colour.$banner;
  }
  .branding {
    // flex: 1;
    display: flex;
    align-items: center;
    .brand {
      padding-bottom: 0.5em; // TODO not a fan

      h1 {
        margin: 0;

        img {
          margin-left: -6px;
          height: 2em;
          width: 2em;
          aspect-ratio: auto 50 / 50;
        }

        .brand-text {
          @include fonts.typeface;
          vertical-align: top;
          font-size: 1.5em;
          font-family: var(--typeface-branding);
          font-weight: 700;
          color: #212d49;
        }
      }
    }
    a {
      text-decoration: none;

    }
  }
</style>

<header>
  <div class="branding">
    <div class="brand">
      <a href="/">
        <h1>
          <img class="opendatafit-logo" src="/assets/images/logos/opendatafit.svg">
          <span class="brand-text">{SITE_TITLE}</span>
        </h1> 
      </a>
      <p class="byline">Enabling reproducible science, from data
      collection to publication.</p>
    </div>
  </div>
  <nav>
    <div class="internal-links">
      <HeaderLink href="https://community.opendata.fit">Community</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
  </nav>
</header>
