.site-container {
  display: grid;

  grid-gap: 3em 0;

  // overflow-x: hidden;

  grid-template-columns: [gutter-left] 1fr
                         [gutter-right] 1fr [end-col];

  grid-template-rows: [header] auto
                      [content] auto
                      [footer] auto [end-row];

  header.site-header {
    grid-area: header / gutter-left / header/ end-col;
  }
  
  .site-header-background {
    grid-area: header / gutter-left / header / end-col;
  }

  main.main-container {
    // grid-area: content / content-col / content / gutter-right;
    grid-area: content / gutter-left / content / end-col;
  }

  footer.site-footer {
    grid-area: footer / gutter-left / footer / end-col;
  }
  
  .site-footer-background {
    grid-area: footer / gutter-left / footer / end-col;
  }

}
