<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.9.2/jsoneditor.css" integrity="sha512-/JghmMAi5bleEgj1BT7h7Jm2+o4I4AbJYRVaY3eGGfdyTzV+yW3n0IedWH4ysbws5zpNK1beCqVJh0MSZxvNaA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.9.2/jsoneditor.min.js" integrity="sha512-MP2pEPP3BGw032ovuAsX6yTu7O4J6L3YTXuyq3IpR+LuwRun9BBjOeeIKgO3bRiNlI88x3oCVb9I1/1+xmvFIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script src="assets/js/example_datapackage.js"></script>


    <script src="assets/js/opendatafit-embed/vendor.b5d9f1a0bdd547dc27e1ff75d7664f30.js"></script>


    <script src="assets/js/opendatafit-embed/chunk.c589beed6c2c18d35871.js"></script>
    <script src="assets/js/opendatafit-embed/chunk.2012ee82540d041b7087.js"></script>


    <link href="assets/js/opendatafit-embed/vendor.40ba295d6fbfb3d21d2827f986ff0a75.css" rel="stylesheet">
    <link href="assets/js/opendatafit-embed/chunk.c589beed6c2c18d35871.css" rel="stylesheet">


    <script type="module">
      window.onload = (event) => {
        let OpendatafitEmbed = require('opendatafit-embed/app')["default"].create({ autoboot: false });

        OpendatafitEmbed.visit("/", { location: "none", rootElement: "#test3" });
        // OpendatafitEmbed.visit("/", { location: "none", rootElement: "#test2" });
        OpendatafitEmbed.visit("/", { location: "none", rootElement: "#test1" });
        OpendatafitEmbed.visit("/", { location: "none", rootElement: "#test4" });
      };
    </script>
    <title>{{ page.title }}</title>
  </head>
  <body class="opendatafit home-layout {{ filename }}" id="opendatafit">
    <div class="site-container">
      {% include header.html %}

      <main class="main-container">
        <article class="home-content">
          {{ content }}
        </article>
      </main>
      
      {% include footer.html %}
    </div>
  </body>
</html>
