<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.9.2/jsoneditor.css" integrity="sha512-/JghmMAi5bleEgj1BT7h7Jm2+o4I4AbJYRVaY3eGGfdyTzV+yW3n0IedWH4ysbws5zpNK1beCqVJh0MSZxvNaA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.9.2/jsoneditor.min.js" integrity="sha512-MP2pEPP3BGw032ovuAsX6yTu7O4J6L3YTXuyq3IpR+LuwRun9BBjOeeIKgO3bRiNlI88x3oCVb9I1/1+xmvFIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="assets/js/example_datapackage.js"></script>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header class="header">
      <div class="branding">
        <a href="/">
          <div class="brand">
            <h1>
              <img src="assets/images/logo.svg"/>
              <span class="brand-text">opendata.fit</span>
            </h1>
          </div>
        </a>
      </div>
      <div class="byline">
        <p>
          Enabling reproducible science, from data collection to publication.
        </p>
        <p class="attributions">
          Part of the <a href="https://imagingtools.org.au/">Australian Characterisation Commons at Scale</a> project
          funded by the ARDC. Supported by UNSW.
        </span>
      </div>
    </header>
    <main>
      {{ content }}
    </main>
  </body>
</html>
